@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css";

body > div:first-child {
	overflow-x: hidden;
}


.custom-input {
	color: black;
	height: 45px;
	width: 220px;
	text-align: center;
	border-style: solid;
	border-color: #afe3fa;
	border-radius: 10px;
	outline: none;
	font-size: 1rem;
	margin: 0.5rem;
  }
  .submit-buttom {
	color: black;
	height: 45px;
	width: 120px;
	text-align: center;
	border-style: solid;
	border-color: #afe3fa;
	background-color: bl;
	border-radius: 10px;
	outline: none;
	font-size: 1rem;
	margin: 0.5rem;
	align-self: center;
  }
  